{% url 'home' as home %}
{% url 'newspaper' as newspaper %}
{% url 'marketplace' as marketplace %}
{% url 'notifications' as notifications %}
{% url 'profile' as profile %}
{% load static %}

<!-- middle top nav -->
<div>
    {% comment %} {% include "home/logo-searchbar.html" %} {% endcomment %}
    <div class="d-flex gap-5 align-items-center">
        <a href="{% url 'home' %}">
            {% if request.path == home %}
            <div class="top-tab top-tab-active">
                <i class="bi bi-house-door-fill" style="font-size: x-large;"></i>
            </div>
            {% else %}
            <div class="top-tab">
                <i class="bi bi-house-door" style="font-size: x-large;"></i>
            </div>
            {% endif %}
        </a>
        <a href="{% url 'newspaper' %}">
            <div class="top-tab {% if request.path == newspaper %} top-tab-active {% endif %}">
                <i class="bi bi-newspaper" style="font-size: x-large;"></i>
            </div>
        </a>
        <a href="{% url 'marketplace' %}">
            <div class="top-tab {% if request.path == marketplace %} top-tab-active {% endif %}">
                <i class="bi bi-shop" style="font-size: x-large;"></i>
            </div>
        </a>
        <!--<a href="{% url 'notifications' %}">
            <div class="top-tab {% if request.path == notifications %} top-tab-active {% endif %}">
                <i class="bi bi-bell-fill" style="font-size: x-large;"></i>
            </div>
        </a>-->
        <a href="{% url 'profile' %}">
            <div class="top-tab {% if request.path == profile %} top-tab-active {% endif %}">
                <i class="bi bi-person-circle" style="font-size: x-large;"></i>
            </div>
        </a>
    </div>
</div>