{% extends "home/base.html" %}

{% block title %}
Newspaper
{% endblock %}

{% block maincontent %}

<form action="" method="GET">

    <div class="input-group mb-4 shadow border border-primary" style="border-radius: 10px;">
        <input type="text" style="border-radius: 10px 0px 0px 10px; color:#022f96;"
            class="form-control p-3" placeholder="Search News" aria-label="Recipient's username"
            aria-describedby="basic-addon2" name="query">
        <div class="input-group-append">
            <button type="submit" class="btn btn-light border p-3" style="border-radius: 0px 10px 10px 0px;"
                type="button">Search</button>
        </div>
    </div>
</form>

{% if articles %}
{% else %}
<div class="alert alert-info text-center">
    <h5>Nothing found</h5>
</div>
{% endif %}

{% for i in articles %}

<div class="card p-3 pt-1 pt-lg-2 mt-lg-3 mt-4 border-0 shadow" style="border-radius: 10px;">
    <div class="row">
        {% if i.urlToImage %}
        <div class="col-lg-4 pb-3 p-0 p-lg-2">
            <a style="text-decoration: none; color: #022f96;" href="{{ i.url }}" target="_blank">
                <img src="{{ i.urlToImage }}" alt="news" style="width: 100%; border-radius: 10px;" class="img-fluid">
            </a>
        </div>
        <div class="col-lg-8">
        {% else %}
        <div class="col-12">
        {% endif %}
            <b><big><a style="text-decoration: none; color: #022f96;" href="{{ i.url }}" target="_blank">
                        {{ i.title }}
                    </a></big></b><br><br>
            <p>{{ i.description }}</p>
            <small class="text-muted">{{ i.publishedAt }}</small>
            <p><small>
                    {% if i.author %}
                    {{ i.author }} @
                    {% endif %}
                    {% if i.source.name %}
                    {{ i.source.name }}
                    {% endif %}
                </small></p>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}