<style>
  .table-striped>tbody>tr:nth-child(odd)>td,
  .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #eff6ff !important;
  }
</style>
<div class="card shadow" style="border-radius: 10px;">
  <table class="table table-striped mb-0">
    <thead>
      <tr>
        <th>Crop</th>
        <th>Price</th>
        <th>Change</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Wheat</td>
        <td>₹200</td>
        <td class="text-success">+2%</td>
      </tr>
      <tr>
        <td>Rice</td>
        <td>₹150</td>
        <td class="text-danger">-1.5%</td>
      </tr>
      <tr>
        <td>Maize</td>
        <td>₹180</td>
        <td class="text-success">+0.5%</td>
      </tr>
      <tr>
        <td>Cotton</td>
        <td>₹220</td>
        <td class="text-danger">-3%</td>
      </tr>
      <tr>
        <td>Wheat</td>
        <td>₹200</td>
        <td class="text-success">+2%</td>
      </tr>
      <tr>
        <td>Rice</td>
        <td>₹150</td>
        <td class="text-danger">-1.5%</td>
      </tr>
      <tr>
        <td>Maize</td>
        <td>₹180</td>
        <td class="text-success">+0.5%</td>
      </tr>
      <tr>
        <td>Cotton</td>
        <td>₹220</td>
        <td class="text-danger">-3%</td>
      </tr>
      <tr>
        <td>Wheat</td>
        <td>₹200</td>
        <td class="text-success">+2%</td>
      </tr>
      <tr>
        <td>Rice</td>
        <td>₹150</td>
        <td class="text-danger">-1.5%</td>
      </tr>
      <tr>
        <td>Maize</td>
        <td>₹180</td>
        <td class="text-success">+0.5%</td>
      </tr>
      <tr>
        <td>Cotton</td>
        <td>₹220</td>
        <td class="text-danger">-3%</td>
      </tr>
      <tr>
        <td>Wheat</td>
        <td>₹200</td>
        <td class="text-success">+2%</td>
      </tr>
      <tr>
        <td>Rice</td>
        <td>₹150</td>
        <td class="text-danger">-1.5%</td>
      </tr>
      <tr>
        <td>Maize</td>
        <td>₹180</td>
        <td class="text-success">+0.5%</td>
      </tr>
      <tr>
        <td>Cotton</td>
        <td>₹220</td>
        <td class="text-danger">-3%</td>
      </tr>
      <tr>
        <td>Wheat</td>
        <td>₹200</td>
        <td class="text-success">+2%</td>
      </tr>
      <tr>
        <td>Rice</td>
        <td>₹150</td>
        <td class="text-danger">-1.5%</td>
      </tr>
      <tr>
        <td>Maize</td>
        <td>₹180</td>
        <td class="text-success">+0.5%</td>
      </tr>
      <tr>
        <td>Cotton</td>
        <td>₹220</td>
        <td class="text-danger">-3%</td>
      </tr>
      <tr>
        <td>Wheat</td>
        <td>₹200</td>
        <td class="text-success">+2%</td>
      </tr>
      <tr>
        <td>Rice</td>
        <td>₹150</td>
        <td class="text-danger">-1.5%</td>
      </tr>
      <tr>
        <td>Maize</td>
        <td>₹180</td>
        <td class="text-success">+0.5%</td>
      </tr>
      <tr>
        <td>Cotton</td>
        <td>₹220</td>
        <td class="text-danger">-3%</td>
      </tr>
    </tbody>
  </table>
</div>

<br><br>
<br><br>